<h1>Gracias por colaborar con nosotros</h1>
Hola <%-data.userSpecialist.dataValues.username%>, desde este momento estas certificada como especialista por lo que puedes crear dietas para ayudar a los demas