/*
$white: #929292;
$ubuntu-font: 'Ubuntu', 'Arial', 'Helvetica', sans-serif;
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;

 Use the variables 
body {
    background-color: $bgcolor;
    color: $white;
    font: $ubuntu-font;
    font-size: $fontsize;;
    padding: 2rem;
}*/