<h2 class="form-header">Editar Usuario</h2>
<%- include('_form') %>

<form action="<%= destroyUserPath %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" value="Logout"style="margin-left: 10px;"/> 
</form>
